<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;" routerLink="/" href="#">Safe Space Platform</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onModalCalendar()">Calendar <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchSubject(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search by subject..." required>
    </form>
  </div>
</nav>
<div class="container" id="main-container">
  <div class="row mt-5">
    <div class="col-12">
      <h1>Student Interface</h1>
    </div>
  </div>
  <div class="row my-5">
    <div *ngFor="let classroom of classrooms" class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title align-self-center w-100">
            <h5>{{classroom?.subject.name}}</h5>
            <p class="m-0">{{classroom?.teacher.firstName}} {{classroom?.teacher.lastName}}</p>
            <p class="m-0">{{classroom?.name}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Location : {{classroom?.location}}</li>
          <li class="list-group-item">Capacity : {{classroom?.capacity}}</li>
          <li class="list-group-item">{{classroom?.month}} {{classroom?.day}} {{classroom?.hour}}</li>
        </ul>
          <div class="card-body">
              <a (click)="onOpenModalRegister(classroom, 'register')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Register" role="button">Register</a>
          </div>
      </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="classroomRegisterModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registerClassroomModalLabel">Register for {{updateClassroom?.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #registerForm="ngForm" (ngSubmit)="onRegisterClassroom(registerForm)">
              <div class="form-group">
                <input type="hidden" ngModel="{{updateClassroom?.subject.id}}" name="subject" class="form-control hidden" id="subjectUpdate" value="{{updateClassroom?.subject.id}}">
              </div>
              <div class="form-group">
                <input type="hidden" ngModel="{{updateClassroom?.teacher.id}}" name="teacher" class="form-control hidden" id="teacherUpdate" value="{{updateClassroom?.teacher.id}}">
              </div>
              <div class="form-group">
                <input type="hidden" ngModel="{{updateClassroom?.name}}" name="name" class="form-control hidden" id="nameUpdate" value="{{updateClassroom?.name}}">
              </div>
              <div class="form-group">
                <input type="hidden" ngModel="{{updateClassroom?.location}}" name="location" class="form-control hidden" id="locationUpdate" value="{{updateClassroom?.location}}">
              </div>
              <div class="form-group">
                <input type="hidden" ngModel="{{updateClassroom?.capacity}}" name="capacity" class="form-control hidden" id="capacityUpdate" value="{{updateClassroom?.capacity}}">
              </div>
              <div class="form-group">
                <input type="hidden" ngModel="{{updateClassroom?.day}}" name="day" class="form-control hidden" id="dayUpdate" value="{{updateClassroom?.day}}">
              </div>
              <div class="form-group">
                <input type="hidden" ngModel="{{updateClassroom?.hour}}" name="hour" class="form-control hidden" id="hourUpdate" value="{{updateClassroom?.hour}}">
              </div>
              <div class="form-group">
                <input type="hidden" ngModel="{{updateClassroom?.month}}" name="month" class="form-control hidden" id="monthUpdate" value="{{updateClassroom?.month}}">
              </div>
              <input type="hidden" ngModel="{{updateClassroom?.id}}" name="id" class="form-control hidden" id="idUpdate" value="{{updateClassroom?.id}}">
              <div class="modal-body">
                <p>Are you sure you want to register for this classroom?</p>
                <div class="modal-footer">
                  <button type="button" id="register-classroom-form" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary" >Yes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="CalendarModal" tabindex="-1" role="dialog" aria-labelledby="CalendarModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="CalendarModalLabel">Calendar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
