<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Safe Space Platform</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>
<div class="header">
  <h1 class="text-center">Check your email</h1>
</div>
<div class="container" id="main-container">
  <div class="row main-row">
    <div class="col-12 d-flex justify-content-center">
      <a role="button" class="btn btn-lg btn-primary m-5" href="http://localhost:4200/home-page">Go Back</a>
    </div>
  </div>
</div>
